<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" href="static/bootstrap.css">
</head>
<body>
    <nav></nav>
    <h1 class="m-5 p-5">HEB Company</h1>

    <img src="../static/img/HEB.jpeg" class="m-5 p-5 logo">

    <h2 class="m-5 p-5">Software Developer</h2>

    <div class="m-5 p-5">
        <p>
            Since H-E-B Digital Technology's inception, we've been investing heavily in our customers' digital experience,
            reinventing how they find inspiration from food, how they make food decisions, and how they ultimately
            get food into their homes. This is an exciting time to join H-E-B Digital--we're using the best available
            technologies to deliver modern, engaging, reliable, and scalable experiences to meet the needs of our
            growing audience. If you enjoy taking on new challenges, working in a rapidly changing environment, learning
            new skills, and applying it all to solve large and impactful business problems, we want you as part of our team.
        </p>

        <p2>
            Our Partners thrive The H-E-B Way. In the Senior Software Engineer job, that means you have a...<br>
            HEART FOR PEOPLE... you can organize multiple engineers, negotiate solutions, and provide upward communication<br>
            HEAD FOR BUSINESS... you consistently demonstrate and uphold the standards of coding, infrastructure, and process<br>
            PASSION FOR RESULTS... you're capable of high-velocity contributions in multiple technical domains
        </p2>

    </div>

    <h3 class="m-5 p-5">What you will do</h3>
    <div class="m-5 p-5">
        <p>
        <ul style="list-style-type: circle">

        <li>Coach and mentor junior engineers in engineering techniques, processes, and new technologies; enable others to succeed </li>
        <li>Contribute to overall system design, architecture, security, scalability, reliability, and performance of applications</li>
        <li>Support the build and deployment pipeline and when necessary, both diagnose and solve production support issues</li>
        <li>Apply understanding to help improve the cloud infrastructure that powers our high-performance, consumer-scale site and mobile apps</li>
        <li>Communicate individual and project-level development statuses, issues, risks, and concerns to technical leadership and management;
        research / advise technical leadership in vendor negotiations</li>
    </ul>

        </p>
    </div>

    <h4 class="m-5 p-5">Qualifications</h4>
    <div class="m-5 p-5">
        <p>
            <ul style="list-style-type: circle">
        <li>have advanced knowledge of system architecture and design patterns</li>
        <li>have a comprehensive knowledge of CS fundamentals: data structures and algorithms</li>
        <li>Experience with engineering tools such as Git, JIRA, Confluence, etc.</li>
        <li>You have a high level of comfort in Lean Startup or Agile development methodologies</li>
        <li>You have a bachelor's degree in computer science or a comparable field or equivalent self-study<br></li>
        <li>Experience with Haskell (Preferred) or other functional languages</li>
    </ul>
        </p>
    </div>
    <h5 class="m-5 p-5">Contact</h5>
    <div class="m-5 p-5">
        <p>
        <ul style="list-style-type: circle">
        <li>Primary Location  US-TX-Austin</li>
        <li>Job Type  Full-time</li>
        <li>Job Posting  Mar 2022</li>
    </ul>
        </p>
    </div>

    <h5 class="m-5 p-5" style="color: red">Apply for software developer position</h5>
    <!-- To create a form -->
    <form class="m-5 p-5" action="/upload" method="GET" id="nameform">
        <input type="submit" value="Apply">
    </form>
    <!-- Same form id : "nameform" is used -->
{#    <button type="submit" form="nameform" value="submit">Apply</button>#}
</body>
</html>